@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap");
@import "~normalize.css";

@import "_variables";
@import "modules/_hello.scss";

body {
  background: #ffffff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.main {
  min-height: 100vh;
}

