@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap");
@import "~normalize.css";

@import "_variables";
@import "modules/_hello.scss";
@import "modules/_skills.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}
